.phone {
  color: #172b3d;
}

.content {
  width: 100%;
  flex: 1;
  min-height: 0;
  padding: 16px;
  background: #fbfbfd;
  overflow-y: auto;
  box-sizing: border-box;
}

.flushContent {
  padding: 0;
  background: #fcfcff;
}
