.phone {
  display: flex;
  flex-direction: column;
  color: #172b3d;
}

.content {
  width: 100%;
  min-height: 0;
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  background: #fbfbfd;
}

.flushContent {
  padding: 0;
  background: #fcfcff;
}
