.avatar {
  display: inline-grid;
  flex: 0 0 auto;
  overflow: hidden;
  place-items: center;
  color: #fff;
  font-weight: 700;
  line-height: 1;
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 15px;
}
