.avatar {
  display: inline-flex;
  flex: 0 0 auto;
  overflow: visible;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 6px rgb(18 42 120 / 45%);
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 50%;
}

.icon {
  width: var(--avatar-icon-size);
  height: var(--avatar-icon-size);
}
