.warningList {
  display: flex;
  max-height: 160px;
  margin: 20px 0 0;
  padding: 4px 13px;
  overflow-y: auto;
  flex-direction: column;
  border-radius: 20px;
  background: #fff1f2;
  list-style: none;
  text-align: left;
  scrollbar-width: none;
}

.warningList::-webkit-scrollbar {
  display: none;
}

.warningItem {
  padding: 5px 0 5px 14px;
  position: relative;
  color: #27272a;
  font-size: 14px;
  line-height: 21px;
}

.warningItem::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #ef4444;
}

.warningItem:not(:last-child) {
  border-bottom: 1px solid rgba(254, 202, 202, 0.8);
}
