.phone {
  border: 1px solid #e4e4e7;
  border-radius: 26px;
}

.content {
  display: flex;
  height: 738px;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding: 16px;
  background: #fcfcff;
}

.firstRoundContent {
  height: 746px;
}

.toast {
  --toast-bottom: 76px;
  --toast-z-index: 20;
  --toast-padding: 13px 16px;
  --toast-border-radius: 14px;
}

@media (max-width: 389px) {
  .viewport,
  .phone {
    width: 100vw;
  }

  .phone {
    border-radius: 0;
  }
}
