.content {
  display: flex;
  height: 738px;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding: 16px;
  background: #fcfcff;
}

.firstRoundContent {
  height: 746px;
  gap: 16px;
}

@media (max-width: 389px) {
  .viewport,
  .phone {
    width: 100vw;
  }

  .phone {
    border-radius: 0;
  }
}
